@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply bg-gradient-to-t;
  }
  .animate-gradient {
    animation: gradient 5s infinite alternate;
  }
  .btn-primary {
    /* background-size: 100% 150%; */
    /* transition: all .4s ease-in-out; */
    @apply relative shadow-lg px-12 py-3 md:px-20 md:py-4 font-bold rounded-lg md:text-lg shadow-lg text-white animate-gradient bg-[linear-gradient(90deg,#501FC1,#C245D3,#F0567A)] bg-[length:300%] ;
  }
  /* .btn-primary:hover {
    background-position: 150% 0%;
    transition: all .4s ease-in-out;
  } */
}

